.content {
	padding: 10px;
}

.image {
	width: 100%;
}

.button {
	padding: 5px 10px;
	border: none;

	background-color: #2181ff;
	color: #fff;
	font-weight: 400;
	letter-spacing: 0.5px;
	border-radius: 2px;
}
.button:active {
	transform: scale(1.02);
	box-shadow: 0px 0px 4px 1px #2181ff75;
}